<div class="wrapper">
  <!-- This is the heading for the section displaying games -->
  <h2>Games</h2>
  <br />
  <input
    type="text"
    [value]=""
    (change)="handleSearchChange($event)"
    placeholder="Search for a game"
  />
  <br />
  Input Value: {{ inputValue }}

  <ul class="grid" #gameContainer>
    <li class="game" *ngFor="let game of games">
      <app-game-item *ngIf="shouldShowGameItemComponent" [game]="game" />
    </li>
  </ul>
  <br />
  Total Games: {{ gameContainer.children.length }}
  <br />

  <!-- Button to toggle the title text color -->
  <button (click)="handleExpandContentClick(gameContainer)">
    {{ shouldTitleBePurple ? "Make Title Black" : "Make Title Purple" }}
  </button>
  <br />
  <button (click)="handleGameItemClick()">
    {{
      shouldShowGameItemComponent
        ? "Destroy Game Item Component"
        : "Create Game Item Component"
    }}
  </button>
</div>
