<div class="wrapper">
  <!-- This is the heading for the section displaying games -->
  <h2>Games</h2>
  <br />
  <input
    type="text"
    [value]=""
    (change)="handleSearchChange($event)"
    placeholder="Search for a game"
  />
  <br />
  Input Value: {{ inputValue }}

  <!-- A list of games displayed as a grid using Angular's *ngFor -->
  <ul class="grid" #gameContainer>
    <li class="game" *ngFor="let game of games">
      <br />

      <!-- The title of the game with dynamic font size and optional class 'price' -->
      <h4 [style.font-size.px]="15" [class.price]="shouldTitleBePurple">
        {{ game.title }}
      </h4>
      <br />

      <!-- Display the game's image -->
      <span
        ><img [attr.src]="game.img" [alt]="game.title + '\'s image'"
      /></span>

      <!-- Display the price of the game in red if it's greater than 50 -->
      <span [style.color]="'red'" *ngIf="game.price > 50">
        Price: {{ game.price }}
      </span>
    </li>
  </ul>
  <br />
  Total Games: {{ gameContainer.children.length }}
  <br />

  <!-- Button to toggle the title text color -->
  <button (click)="handleExpandContentClick(gameContainer)">
    {{ shouldTitleBePurple ? "Make Title Black" : "Make Title Purple" }}
  </button>
</div>
