header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

/* Navigation styles */
nav {
  margin-top: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
