<Header>
    <Nav>
        <ul>
            <!-- <a class="link" routerLink="/"> Home</a>
            <a class="link" routerLink="/user-list"> User</a>
            <a class="link" routerLink="/todo-list"> Todo</a> -->


            <!-- Second options for routing!!! Programmatically -->
            <button class="link" (click)="navigateTo('')">Home</button>
            <button class="link" (click)="navigateTo('user-list')">User</button>
            <button class="link" (click)="navigateTo('todo-list')">Todo</button>

        </ul>
    </Nav>
</Header>