/*login register forms  */

form.login {
  margin: 2em auto 0;
  text-align: center;
}

.login fieldset {
  border-radius: 0.3em;
  padding: 0.8em;
  background-color: #ffffff;
}

.login h2 {
  padding-top: 0;
  border-bottom: none;
}

.login p {
  padding-bottom: 0;
  padding-top: 1.5rem;
}

.login input {
  flex: 0 1 100%;
  border: 1px solid;
  padding: 0.3em;
  border-left: 0.3em solid green;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

.login select {
  border-color: black;
}

.login button {
  color: white;
  background-color: #518f98;
  border: none;
  border-radius: 0.3em;
  padding: 0.6em 1.2em;
  margin-top: 1.5rem;
  width: 60%;
  outline: none;
}

.login i {
  border: 1px solid;
  border-right: none;
  padding: 0.55em;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  background-color: #e9ecef;
}

.login a {
  color: #518f98;
}

.login a:hover {
  cursor: pointer;
}

.login button:hover {
  cursor: pointer;
  color: #518f98;
  background-color: white;
  outline: 1px solid #518f98;
}

.login .field {
  display: flex;
  padding-bottom: 0;
}

/* errors  */

p.error {
  text-align: left;
  border-radius: 0.3em;
  color: red;
  padding-top: 0;
}

.input-error {
  border-left-color: red;
}

.ng-dirty.ng-touched.ng-invalid {
  border: 1px solid red;
}

.login button:disabled {
  background-color: gray;
}
