html,
body {
  height: 100%;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background-color: var(--light);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --deep-dark: rgb(26, 26, 26);
  --light-dark: rgb(79, 82, 92);
  --light-blue: rgb(0, 132, 255);
  --dark-blue: rgb(2, 84, 161);
  --light: rgb(245, 245, 245);
}

h1 {
  color: var(--light);
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
h3 {
  text-align: center;
}
